<!-- list-post.component.html -->

<div class="container mt-5">
  <h2 class="text-center mb-4">Forum</h2>

  <!-- Button to toggle add post form -->
  <button class="btn btn-primary mb-3" (click)="toggleAddPostForm()">Add Post</button>

  <!-- Table to display posts -->
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Created Date</th>
      <th>Likes</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">

      <!-- Display post details -->
      <td>{{ post.title }}</td>
      <td>{{ post.content }}</td>
      <td>{{ post.createdDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ post.likes }}</td>
      <td>
        <!-- Buttons for actions -->
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="showUpdateForm(post.id)">Update</button>
        <button class="btn btn-sm btn-success mr-2" (click)="likePost(post.id)"><i class="fas fa-thumbs-up"></i></button>
        <button class="btn btn-sm btn-danger mr-2" (click)="dislikePost(post.id)"><i class="fas fa-thumbs-down"></i></button>
        <button class="btn btn-sm btn-info mr-2" (click)="viewComments(post.id)">View Comments</button>
        <button class="btn btn-sm btn-primary" (click)="showCommentForm(post.id)">Add Comment</button>
        <button class="btn btn-sm btn-danger" (click)="deletePost(post.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Form to add a comment -->
  <div *ngIf="showCommentFormId !== null" class="mt-4">
    <h3>Add Comment</h3>
    <form (submit)="addComment(showCommentFormId)" class="needs-validation" novalidate>
      <div class="form-group">
        <textarea [(ngModel)]="commentContent" name="commentContent" id="commentContent" class="form-control" rows="3" required></textarea>
        <div class="invalid-feedback">Please enter your comment.</div>
      </div>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
  </div>

  <!-- Display comments -->
  <div *ngIf="comments.length > 0" class="mt-4">
    <h3>Comments</h3>
    <ul class="list-unstyled">
      <li *ngFor="let comment of comments" class="mb-3">
        <div class="like-dislike-container">
          <p><strong>Comment:</strong> {{ comment.content }}</p>
          <p><strong>Ratings:</strong> {{ comment.rating }}</p>

          <!-- Input field for updating comment content -->
          <input type="text" [(ngModel)]="comment.content" placeholder="New Comment Content" class="form-control mb-2">

          <!-- Buttons for actions -->
          <button class="btn btn-sm btn-primary mr-2" (click)="updateComment(comment)">Update</button>
          <button class="btn btn-sm btn-danger mr-2" (click)="deleteComment(comment.id)"><i class="fas fa-trash-alt"></i></button>
          <button class="btn btn-sm btn-success mr-2" (click)="likeComment(comment.id)"><i class="fas fa-thumbs-up"></i></button>
          <button class="btn btn-sm btn-danger" (click)="dislikeComment(comment.id)"><i class="fas fa-thumbs-down"></i></button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Form to update a post -->
  <div *ngIf="showUpdateFormId !== null" class="mt-4">
    <h3>Update Post</h3>
    <form (submit)="updatePost(updatedPost)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="updatedPost.title" required>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" [(ngModel)]="updatedPost.content" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

  <!-- Form to add a new post -->
  <div>
    <form *ngIf="showAddPostForm" (submit)="onSubmit()" class="mt-4">
      <h3>Add Post</h3>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newPost.title" required>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" [(ngModel)]="newPost.content" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>

