<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/admin" class="brand-link">
    <img src="/assets/dima_maak_text_white.png" alt="Dima Maak Logo"
         class="brand-image" style="opacity: .8">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" routerLink="/admin/profile/{{profile.id}}" style="cursor: pointer;">
        <img *ngIf="imageData" [src]="imageData" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="/admin/profile/{{profile.id}}" class="d-block">{{profile.surname}} {{profile.name}}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
          data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link">
            <i class="fas fa-list-alt"></i>
            <p>
              Admin Panel :
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a routerLink="/admin/user" class="nav-link"><i class="fas fa-user"></i><p>Users</p></a></li>
            <li class="nav-item"><a routerLink="/admin/notification" class="nav-link"><i class="fas fa-bell"></i><p>Notifications</p></a></li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  <!-- /.sidebar -->
</aside>
