<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/admin" class="brand-link">
    <img src="/assets/dima_maak_text_white.png" alt="Dima Maak Logo"
         class="brand-image" style="opacity: .8">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" routerLink="/admin/profile/{{profile.id}}" style="cursor: pointer;">
        <img *ngIf="imageData" [src]="imageData" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="/admin/profile/{{profile.id}}" class="d-block">{{profile.surname}} {{profile.name}}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
          data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a class="nav-link">
            <i class="fas fa-list-alt"></i>
            <p>
              Admin Panel :
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a routerLink="/admin/user" class="nav-link"><i class="fas fa-user"></i><p>Users</p></a></li>
            <li class="nav-item"><a routerLink="/admin/notification" class="nav-link"><i class="fas fa-bell"></i><p>Notifications</p></a></li>
            <li class="nav-item"><a routerLink="/admin/loyalty" class="nav-link"><i class="fas fa-star"></i><p>Loyalties</p></a></li>
            <li class="nav-item"><a routerLink="/admin/asset" class="nav-link"> <i class="fas fa-warehouse"></i><p> Asset</p></a></li>
            <li class="nav-item"><a routerLink="/admin/demande" class="nav-link"><i class="fas fa-exchange-alt"></i><p> Leasing Requests</p></a></li>
            <li class="nav-item"><a routerLink="insurancelist" class="nav-link"><i class="fas fa-shield-alt"></i><p> Insurances</p></a></li>
            <li class="nav-item"><a routerLink="packlist" class="nav-link"><i class="fas fa-file-contract"></i><p> Insurance Packs</p></a></li>
            <li class="nav-item"><a routerLink="claim" class="nav-link"><i class="fas fa-exclamation-triangle"></i><p> Claims</p></a></li>
            <li class="nav-item"><a routerLink="/admin/venture" class="nav-link"><i class="fas fa-rocket"></i><p> Ventures</p></a></li>
            <li class="nav-item"><a routerLink="/admin/allinvestments" class="nav-link"><i class="fas fa-chart-line"></i><p> Investments</p></a></li>
            <li class="nav-item"><a routerLink="/admin/allreturns" class="nav-link"><i class="fas fa-chart-pie"></i><p> Returns</p></a></li>
            <li class="nav-item"><a routerLink="/admin/investors" class="nav-link"><i class="fas fa-edit"></i><p> Investors</p></a></li>
            <li class="nav-item"><a routerLink="/admin/ListComplaintBack" class="nav-link"><i class="fas fa-comment-dots"></i><p> Complaints</p></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  <!-- /.sidebar -->
</aside>
