<div class="container mt-5">
    <h2>List of Complaints</h2>
    <button (click)="goToAddComplaint()" class="btn btn-primary mb-3">Add New Complaint</button>
    <table class="table">
      <thead>
        <tr>
          
          <th>Date</th>
          <th>Subject</th>
          <th>Description</th>
          <th>Status</th>
          <th>User</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints">
          
          <td>{{ complaint.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ complaint.subject }}</td>
          <td>{{ complaint.description }}</td>
          <td>{{ complaint.status ? 'Active' : 'Inactive' }}</td>
          <td>{{ complaint.user?.id }}</td>
          <td>
          <button (click)="updateComplaint(complaint.id)">Update</button>
          <button (click)="deleteComplaint(complaint.id)">Delete</button>
          <button (click)="DetailComplaint(complaint.id)">Details</button>
        </td>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  