<div class="yeo-footer">
  <div class="container">
    <div class="columns">
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Services</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">Micro-Loans</a><!--TODO-->
            </li>
            <li class="nav-item">
              <a href="#">Micro-Insurances</a><!--TODO-->
            </li>
            <li class="nav-item">
              <a href="#">Micro-Leasing</a><!--TODO-->
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Clients</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">Banque Centrale</a><!--TODO-->
            </li>
            <li class="nav-item">
              <a href="">Zitouna</a><!--TODO-->
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Contact Us</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="#<">File a complaint</a><!--TODO-->
            </li>
            <li class="nav-item">
              <a href="TuniTrocPi@gmail.com<">E-Mail</a><!--TODO-->
            </li>
            <li class="nav-item">
              <a href="https://www.x.com/">Twitter</a> <!--TODO-->
            </li>
            <li class="nav-item">
              <a href="https://www.github.com/ZeroSTF/">Github</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Copyright</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">All rights reserved 2024, By ESPRIT</a><!--TODO-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
