<div class="yeo-footer">
  <div class="container">
    <div class="columns">
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Services</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">DevOps</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Development</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Consultant</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Clients</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Lapa Ninja</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Noty IM</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Yeo Space</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Contact Us</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">tinh@lapa.ninja</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Twitter</a>
            </li>
            <li class="nav-item">
              <a href="https://www.lapa.ninja/">Github</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column col-3 col-sm-6">
        <div class="yeo-footer-content">
          <h4>Copyright</h4>
          <ul class="nav">
            <li class="nav-item">
              <a href="http://www.streamlineicons.com/?ref=lapaninja">Free Streamline Icons</a>
            </li>
            <li class="nav-item">
              <a href="https://ui8.net/products/illustration-pack-vol-03?ref=lapaninja">Buy Illustration Pack by Nimart1</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
