.list-container {
    margin: 0 auto;  /* Centers the list */
    max-width: 90%;  /* Limits maximum width to enhance readability */
}

.card-body ul {
    padding-left: 0;  /* Removes padding for cleaner look */
}

.card {
    display: flex;
    flex-direction: column;  /* Ensures that the content is flexibly aligned */
    justify-content: space-between; /* Distributes space evenly */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Aligns child items to the center */
}
