<br>
<section class="content mt-lg-5" style="margin-left: 13%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h1 style="margin-left: 40%">
              Loyalties List
            </h1>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Reason</th>
                  <th>Date</th>
                  <th>Value</th>
                  <th>Sent to</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let loyalty of sortedLoyalties">
                  <td *ngIf="loyalty.reason=='Payment_on_date'">Payment on date</td>
                  <td *ngIf="loyalty.reason!='Payment_on_date'">{{loyalty.reason}}</td>
                  <td>{{loyalty.date| date:'long' }}</td>
                  <td>{{loyalty.value}}</td>
                  <td>{{loyalty.user.surname}} {{loyalty.user.name}}</td>
                  <td>
                    <a routerLink="/admin/viewLoyalty/{{loyalty.id}}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-eye"></i> View</a>
                    <a (click)="edit(loyalty)" class="btn btn-sm btn-warning mr-1"><i class="fas fa-edit"></i> Edit</a>
                    <a (click)="delete(loyalty)" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                  </td>
                </tr>
                <tr *ngIf="sortedLoyalties.length==0">
                  <td colspan="12">No loyalties to display.</td>
                </tr>
                </tbody>
              </table>
            </div>
            <a routerLink="/admin/addLoyalty" class="nav-link btn btn-success"><i class="fas fa-plus"></i>Add a loyalty</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
