<main>
  <div class="whole-wrap mx-5">
    <div class="section-top-border">
      <div class="row">
        <div class="col-md-2">
          <!-- Hidden file input -->
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
          <div class="image-container" *ngIf="imageData" (click)="fileInput.click()">
            <img [src]="imageData" alt="Profile Picture" class="img-fluid profile-picture rounded-circle">
            <div class="image-text">Change your avatar</div>
          </div>
        </div>

        <!-- Form -->
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="col-md-9 mt-sm-20">
          <div class="form-group row">
            <label for="firstName" class="col-sm-3 col-form-label"><strong>First Name:</strong></label>
            <div class="col-sm-9">
              <input type="text" id="firstName" formControlName="firstName" placeholder="Enter first name" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-sm-3 col-form-label"><strong>Last Name:</strong></label>
            <div class="col-sm-9">
              <input type="text" id="lastName" formControlName="lastName" placeholder="Enter last name" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="birthDate" class="col-sm-3 col-form-label"><strong>Birth Date:</strong></label>
            <div class="col-sm-9">
              <input type="date" id="birthDate" formControlName="birthDate" placeholder="Enter birth date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label"><strong>Email:</strong></label>
            <div class="col-sm-9">
              <input type="email" id="email" formControlName="email" placeholder="Enter email" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="salary" class="col-sm-3 col-form-label"><strong>Salary:</strong></label>
            <div class="col-sm-9">
              <input type="number" id="salary" formControlName="salary" placeholder="Enter salary" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="jobSelect" class="col-sm-3 col-form-label"><strong>Job:</strong></label>
            <div class="col-sm-9">
              <select class="form-control" id="jobSelect" formControlName="job">
                <option value="">Select your Job</option>
                <option value="Engineer">Engineer</option>
                <option value="Doctor">Doctor</option>
                <option value="Teacher">Teacher</option>
                <option value="Lawyer">Lawyer</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><strong>Address:</strong></label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-3">
                  <input type="text" id="city" formControlName="city" placeholder="City" class="form-control">
                </div>
                <div class="col-sm-3">
                  <input type="text" id="state" formControlName="state" placeholder="State" class="form-control">
                </div>
                <div class="col-sm-3">
                  <input type="text" id="country" formControlName="country" placeholder="Country" class="form-control">
                </div>
                <div class="col-sm-3">
                  <input type="text" id="postalCode" formControlName="postalCode" placeholder="Postal Code" class="form-control">
                  <button type="button" class="btn btn-primary" (click)="changeLocation()">Get current location</button>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
</main>
