<div class="home-blog-area section-padding30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">
          <!-- Section Tittle -->
          <div class="section-tittle text-center mb-70">
      
        
    
          </div>
        </div>
      </div>
    <div class="rom">
        <body class="">
            <table border="0" cellpadding="0" cellspacing="0" class="body">
              <tr>
                <td>&nbsp;</td>
                <td class="container">
                  <div class="content">
                   
                    <table class="main">
        
                      <!-- START MAIN CONTENT AREA -->
                      <tr>
                        <td class="wrapper">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td>
                                <h1>Confirm your Status</h1>
                                <h2>You are just one step away</h2>
                                <div class="form-group">
                                    <label for="Choose">Choose :</label>
                                    <select id="renwealoption" name="renwealoption" class="form-control" #selectedValue>
                                      <option disabled selected>select ...</option>
                                      <option value="Accepted">Accepted</option>
                                      <option value="Denied">Denied</option>
                                    </select>
                                  </div>
                                  <button (click)="add(selectedValue.value)" class="btn btn-primary" type="button">Confirm</button>
                                  
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
        
                    <!-- END MAIN CONTENT AREA -->
                    </table>
        
                    <!-- START FOOTER -->
                    <div class="footer">
                      
                    </div>
                    <!-- END FOOTER -->
                    
                  <!-- END CENTERED WHITE CONTAINER -->
                  </div>
                </td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </body> 
    </div>
   
    </div>
  </div>