<br>
<br>
<br>
<div class="container mt-5" *ngIf="complaint">
    <h2>Complaint Details</h2>
    <div style="color:#FFFFFF">
      <p><strong>Date:</strong> {{ complaint.date | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Subject:</strong> {{ complaint.subject }}</p>
      <p><strong>Description:</strong> {{ complaint.description }}</p>
      <p><strong>Status:</strong> {{ complaint.status ? 'Active' : 'Inactive' }}</p>
      <p><strong>Made by:</strong> {{ complaint.user?.surname }} {{ complaint.user?.name }}</p>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
