/* Styles généraux pour le tableau */
.table {
    width: 100%;
    border-collapse: collapse;
    /* Ajout d'une scrollbar verticale */
    max-height: 500px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    overflow-y: auto;
}
.center-text {
    text-align: center;
}

.table thead th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
    background-color: #343a40;
    color: #fff;
}

.table tbody td {
    padding: 8px 15px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

/* Styles pour les boutons */
.btn {
    padding: 5px 12px;
    margin-right: 8px;
}

.btn-danger {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Style pour les cellules de données centrées verticalement */
.align-middle {
    vertical-align: middle !important;
}

/* Style pour les boutons dans la colonne Actions */
.d-flex.justify-content-between {
    width: 100%;
}

/* Style pour le footer */
.card-footer {
    padding: 15px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;

}


.content-wrapper {
    box-shadow: 0 0.25rem 0.75rem rgba(250, 0, 255, 0.2);
}
