<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header  header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a routerLink="/"><img src="favicon.ico" alt=""></a>
              <a routerLink="/"><img src="/assets/dima_maak_text.png" alt=""></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="#">Our Loan Packs</a></li>
                    <li><a routerLink="#">Our Insurance Packs</a></li>
                    <li><a routerLink="#">Our Leasing Offers</a>
                    <li><a routerLink="#">Ventures</a>
                      <ul class="submenu">
                        <li><a routerLink="#">Invest</a></li>
                        <li><a routerLink="#">Launch a Venture</a></li>
                      </ul>
                    </li>
                    <li><a routerLink="#">Forum</a></li>
                    <!-- Notifications Dropdown Menu -->
                    <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
                      <a class="nav-link" data-toggle="dropdown" routerLink="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-info navbar-badge">{{ unreadNotificationsCount }}</span>
                      </a>
                      <ul class="submenu" style="width: 300px;">
                        <span class="dropdown-item dropdown-header">{{ unreadNotificationsCount }} Notifications</span>
                        <div class="dropdown-divider"></div>
                        <div style="max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
                        <ng-container *ngFor="let notification of sortedNotifications">
                          <a *ngIf="!notification.status" routerLink="{{ '/notification/' + notification.id }}" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> {{ notification.content | slice: 0: 20 }}{{ notification.content.length > 20? '...' : '' }}
                          </a>
                          <span class="float-right text-muted text-sm">{{ timeDiff(notification.date) }}</span>
                          <div class="dropdown-divider" *ngIf="!notification.status"></div>
                        </ng-container>
                        </div>
                        <a routerLink="/notifications" class="dropdown-item dropdown-footer">All Notifications</a>
                      </ul>
                    </li>
                    <!-- Notifications Dropdown Menu End-->
                    <li><a routerLink="/profile">My Profile</a>
                      <ul class="submenu">
                        <li><a routerLink="#">Insurances</a></li>
                        <li><a routerLink="#">Loans</a></li>
                        <li><a routerLink="#">Leases</a></li>
                        <li><a routerLink="#">Investments</a></li>
                        <li><a routerLink="#">Ventures</a></li>
                      </ul>
                    </li>
                    <li><a *ngIf="!authService.isAuthenticated()" routerLink="/signup">Sign Up</a>
                  </ul>
                </nav>
              </div>
              <div *ngIf="!authService.isAuthenticated()" class="header-right-btn f-right d-none d-lg-block">
                <a routerLink="/login" class="btn header-btn" style="background-color: #1F506B;">Login</a>
              </div>
              <div *ngIf="authService.isAuthenticated()" class="header-right-btn f-right d-none d-lg-block">
                <a class="btn header-btn" style="background-color: #1F506B; color: #fff;" (click)="logout()">Logout</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
