<div class="container yeo-header">
  <div class="columns">
    <div class="column col-12">
      <header class="navbar">
        <section class="navbar-section">
          <a class="navbar-brand logo" href="./">
            <img height=100 width= 100 class="img" src="/assets/dima_maak.png" alt="">
          </a>
        </section>
        <section class="navbar-section hide-sm">
          <a class="btn btn-link" href="#">Loan Packs</a>
          <a class="btn btn-link" href="#">Insurance Packs</a>
          <a class="btn btn-link" href="#">Leasing Offers</a>
          <a class="btn btn-link" href="#">Invest</a>
          <a class="btn btn-link" href="#">Post Venture</a>
          <a class="btn btn-link" href="#">Forum</a>
          <a class="btn btn-link" href="#">Profile</a>
          <a class="btn btn-primary btn-hire-me" href="#" >Sign In</a>
        </section>
      </header>
    </div>
  </div>
</div>
