<div class="container yeo-header">
  <div class="columns">
    <div class="column col-12">
      <header class="navbar">
        <section class="navbar-section">
          <a class="navbar-brand logo" href="./">
            <img height=100 width= 100 class="img" src="/assets/dima_maak.png" alt="">
          </a>
        </section>
        <section class="navbar-section hide-sm">
          <a class="btn btn-link" href="#we-do">What we do</a>
          <a class="btn btn-link" href="#we-work">How we work</a>
          <a class="btn btn-link" href="#price">Pricing</a>
          <a class="btn btn-link" href="#team">Our Team</a>
          <a class="btn btn-primary btn-hire-me" href="#" >Download</a>
        </section>
      </header>
    </div>
  </div>
</div>
