<div class="container mt-5" *ngIf="complaint">
  <br>
  <br>
  <br>
    <h2>Complaint Details</h2>
    <div>
      
      <p><strong>Date:</strong> {{ complaint.date | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Subject:</strong> {{ complaint.subject }}</p>
      <p><strong>Description:</strong> {{ complaint.description }}</p>
      <p><strong>Status:</strong> {{ complaint.status ? 'Active' : 'Inactive' }}</p>
      <p><strong>User ID:</strong> {{ complaint.user?.id }}</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  